<section>
  <h1>Categories</h1>

  <div id="groups">
    <% if @groups.empty? %>
      <p class='subtitle is-5 has-text-centered mt-5'>There are currently no categories</p>
    <% else %>
    <% @groups.each do |group| %>
      <div class="col">
        <%= image_tag(group.icon, alt: "Icon pic", height: "100px") %>
      </div>

      <div class="col">
        <%= link_to group.name, group_path(group) %>
      </div>
      <%= render group %>
      <div class='actions mt-5'>
        <span class='subtitle is-5'>
          <%= link_to 'EDIT', edit_group_path(group), class: 'button is-info is-small' %>
        </span>          
        <span class='subtitle is-5'>
          <%= link_to 'REMOVE', group_path(group.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'button is-danger is-small' %>
        </span>
      </div>
      <p>
        <%= link_to "Show this group", group %>
      </p>
    <% end %>
    <% end %>
  </div>
  <%= link_to "New group", new_group_path %>
</section>


